---
import Layout from '../layouts/Layout.astro';
import Pagination from '../components/Pagination.astro';
import PostPreview from '../components/PostPreview.astro';

import { SITE } from '../config';

const allPosts = await Astro.glob('./blog/*.md');

allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));

const featured = allPosts.shift();
---

<Layout title={SITE.title} intro>
  <div id="main">
    <!-- Featured Post -->
    <PostPreview
      title={featured?.frontmatter.title || ''}
      image={featured?.frontmatter.image || ''}
      date={new Date(featured?.frontmatter.pubDate)}
      summary={featured?.frontmatter.summary}
      link={featured?.url || ''}
      featured
    />

    <!-- Posts -->
    <section class="posts">
      {
        allPosts.map((p) => (
          <PostPreview
            title={p.frontmatter.title}
            image={p.frontmatter.image}
            date={new Date(p.frontmatter.pubDate)}
            summary={p.frontmatter.summary}
            link={p.url || ''}
          />
        ))
      }
    </section>

    <Pagination />
  </div>
</Layout>
