---
import { CONTACT, SOCIAL_MEDIA_ITEMS } from 'src/config';
---

<footer id="footer">
  <section>
    <form method="post" action={CONTACT.formSubmitUrl}>
      <div class="fields">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" />
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="3"></textarea>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
  </section>
  <section class="split contact">
    <section class="alt">
      <h3>Address</h3>
      <p>
        {CONTACT.address[0]}<br />
        {CONTACT.address[1]}
      </p>
    </section>
    <section>
      <h3>Phone</h3>
      <p><a href={`tel:${CONTACT.phone}`}>{CONTACT.phone}</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href={`mailto:${CONTACT.email}`}>{CONTACT.email}</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        {
          SOCIAL_MEDIA_ITEMS.map((item) => {
            return (
              <li>
                <a href={item.path} class={`icon brands alt ${item.iconClass}`}>
                  <span class="label">{item.title}</span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </section>
</footer>
