---
import { format } from 'date-fns';

export interface Props {
  title: string;
  image?: string;
  date: Date;
  summary: string;
  alt?: string;
  featured?: boolean;
  link: string;
}

const { title, image, date, summary, alt, featured, link } = Astro.props;
---

<article class={featured ? 'post featured' : ''}>
  <header class={featured ? 'major' : ''}>
    <span class="date">
      {format(date, 'yyyy-MM-dd')}
    </span>
    <h2>
      <a href={link} set:html={title}></a>
    </h2>
    {featured && <p set:html={summary} />}
  </header>
  <a href={link} class={featured ? 'image main' : 'image fit'}>
    <img src={image} width={featured ? 896 : 448} height={!featured && 218} alt={alt || ''} />
  </a>
  {!featured && <p set:html={summary} />}
  <ul class="actions special">
    <li>
      <a href={link} class={featured ? 'button large' : 'button'}>Full Story</a>
    </li>
  </ul>
</article>
