---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';

const { frontmatter, compiledContent } = Astro.props;
---

<Layout title={frontmatter.title}>
  <!-- Main -->
  <div id="main">
    <Post
      date={new Date(frontmatter.pubDate)}
      title={frontmatter.title}
      summary={frontmatter.summary}
      contents={compiledContent()}
      image={frontmatter.image}
    />
  </div>
</Layout>
